---
layout: bounty-list
title: Bounties
nav-title: Bounties
---

{% assign bounties=site.pages | where:"layout", "bounty" %}

<script>{% include js/filters.js %}</script>


<!-- Header -->
<header class="filter-container">
 {% include bounty-filters.html %}
</header>

<div class="flex-stack-top flex-align-right">
  <div class="sort-search-container flex-stack-right">
    <input class="margin-search" type="text" placeholder="Search.." id="search-input" onkeyup="filterBounties()"/>
    <div class="dropdown-backing flex-stack-right">
      <button id="sort-button" onclick="toggleClass('sort-dropdown', 'dropdown-content-show')" data-sort="date-desc"></button>
      <div id="sort-dropdown" class="dropdown-content"> <!-- dynamically filled from JS sorts. Classes: sort-dropdown-button -->
      </div>
    </div>
  </div>
  <span id=filter-count class="filter-count">Test</span>
</div>

<div id="bounty-list">  
  {% for bounty in bounties %}
    {% include bounty-item.html bounty=bounty %}
  {% endfor %}
</div>
