---
layout: bounty-list
title: All Bounties
---

{% assign bounties=site.pages | where:"layout", "bounty" %}

{% include_relative assets/js/filters.js %}


<!-- Header -->
<header>
 {% include bounty-filters.html %}
</header>

{% assign bounties=site.pages | where:"layout", "bounty" | where:"status", "open" | sort: "date" | reverse %}

{% for bounty in bounties %}
  {% include bounty-item.html bounty=bounty%}
{% endfor %}


{% assign bounties=site.pages | where:"layout", "bounty" | where:"status", "closed" | sort: "date" | reverse %}

{% for bounty in bounties %}
  {% include bounty-item.html bounty=bounty%}
{% endfor %}