<div class="bounty-tag-container flex-stack-left">
  <div class="bounty-tag flex-stack-left">
    <div class="bounty-tag-code"></div>
    <p> {{bounty.code}} </p>
  </div>
  <div class="bounty-tag flex-stack-left">
  {% if bounty.status=="open" %}
    <div class="bounty-tag-status-open"></div>
  {% endif %}
  {% if bounty.status=="closed" %}
    <div class="bounty-tag-status-closed"></div>
  {% endif %}
    <p> {{bounty.status}} </p>
  </div>
  {% for skillset in include.bounty.skillsets %}
    <div class="bounty-tag flex-stack-left">
      <div class="bounty-tag-skillset"></div>
      <p> {{skillset}} </p>
    </div>
  {% endfor %}
  {% for tag in include.bounty.tags %}
    <div class="bounty-tag flex-stack-left">
      <div class="bounty-tag-tag"></div>
      <p> {{tag}} </p>
    </div>
  {% endfor %}
</div>