  
  
  <div class="bounty-item-container" id="{{include.bounty.code}}" >
    <div class="bounty-item-head">
      <div class="flex-justify flex-align-top flex-separator-v">
        <a href="{{bounty.url|relative_url}}"><h3> {{include.bounty.title}} </h3></a>
        <div class="flex-stack-top flex-align-end price-container">
          <h3 class="unconverted-price-item">{% include bounty-amount.html reward=bounty.reward %}</h3>
          {% if bounty.reward.unit == "RPL" %}
          <h5 class="converted-price">{% include bounty-amount.html reward=bounty.reward convert="RPL"%}</h5>
          {% endif %}
          <span class="bounty-date"> {{include.bounty.creation-date | date_to_string: "ordinal", "US"}} </span>
        </div>
      </div>
        <div class="flex-justify">
        {% include bounty-tags.html bounty=include.bounty %}
        <span class="bounty-date exclusion-dummy"> {{include.bounty.creation-date | date_to_string: "ordinal", "US"}} </span>
        </div>
    </div>
    <div class="bounty-item-content">
      {{ include.bounty.summary | markdownify}}
    </div>
  </div>