  
  
  <div class="bounty-item-container" id="{{include.bounty.code}}" >
    <div class="bounty-item-head">
      <div class="flex-justify">
        <a href="{{bounty.url|relative_url}}"><h3> {{include.bounty.title}} </h3></a>
        <h3> {{include.bounty.reward}} </h3>
      </div>
      <div class="flex-justify">
      {% include bounty-tags.html bounty=include.bounty%}
        <p> {{include.bounty.date | date_to_string: "ordinal", "US"}} </p>
      </div>
    </div>
    <div class="bounty-item-content">
      {{ include.bounty.summary | markdownify}}
    </div>
  </div>