<div class="bounty-tag-container flex-stack-left">
  <div class="bounty-tag flex-stack-left">
    <div class="bounty-tag-code"></div>
    <p> {{bounty.code}} </p>
  </div>
  <div class="bounty-tag flex-stack-left">
  {% if bounty.status =="open" %}
    <div class="bounty-tag-status-open"></div>
  {% elsif bounty.status =="closed" %}
    <div class="bounty-tag-status-closed"></div>
  {% elsif bounty.status =="draft" %}
    <div class="bounty-tag-status-draft"></div>
  {% else %}
    <div class="bounty-tag-status-default"></div>
  {% endif %}
    <p data-format="tag"> {{bounty.status}} </p>
  </div>
  {% for skillset in include.bounty.skillsets %}
    <div class="bounty-tag flex-stack-left">
      <div class="bounty-tag-skillset"></div>
      <p data-format="tag"> {{skillset}} </p>
    </div>
  {% endfor %}
  {% for tag in include.bounty.tags %}
    <div class="bounty-tag flex-stack-left">
      <div class="bounty-tag-tag"></div>
      <p data-format="tag"> {{tag}} </p>
    </div>
  {% endfor %}
</div>