{% assign filters = '' | split: '' %}
<div class="filter-title">Status</div>
      {% for bounty in bounties %}
          {% assign filter = "status:" | append: bounty.external-status%}
          {% assign filters = filters | push: filter %}
      {% endfor %}
      
      {% assign filters = filters | uniq %}
      
      <div class="flex-stack-left flex-wrap bounty-filter">
      {%- for filter in filters -%}
        {% include filter-item.html filter=filter%}
      {%- endfor -%}
      </div>
      <div class="filter-title">Skills</div>
      {% assign filters = '' | split: '' %}
      {% for bounty in bounties %}
        {% for skillset in bounty.skillsets %}
          {% assign filter = "skillset:" | append: skillset%}
          {% assign filters = filters | push: filter %}
        {% endfor %}
      {% endfor %}
      
      {% assign filters = filters | uniq %}
      
      <div class="flex-stack-left  flex-wrap bounty-filter">
      {%- for filter in filters -%}
        {% include filter-item.html filter=filter%}
      {%- endfor -%}
      </div>
      <div class="filter-title">Tags</div>
      {% assign filters = '' | split: '' %}
      {% for bounty in bounties %}
        {% for tag in bounty.tags %}
          {% assign filter = "tag:" | append: tag%}
          {% assign filters = filters | push: filter %}
        {% endfor %}
      {% endfor %}
      
      {% assign filters = filters | uniq %}
      
      <div class="flex-stack-left flex-wrap bounty-filter">
      {%- for filter in filters -%}
        {% include filter-item.html filter=filter%}
      {%- endfor -%}
      </div>