  
  
  <div class="bounty-item-container" id="{{include.bounty.code}}" >
    <div class="bounty-item-head">
      <div class="flex-justify flex-align-top flex-separator-v">
        <a href="{{bounty.url|relative_url}}"><h3> {{include.bounty.title}} </h3></a>
        <div class="flex-stack-top flex-align-end price-container">
          <h3 class="unconverted-price-item">{% include bounty-amount.html reward=bounty.reward %}</h3>
          {% if bounty.reward.unit == "RPL" %}
          <h5 class="converted-price">{% include bounty-amount.html reward=bounty.reward convert="RPL"%}</h5>
          {% endif %}
          <span class="bounty-date"> {{include.bounty.creation-date | date_to_string: "ordinal", "US"}} </span>
        </div>
      </div>
        <div class="flex-justify">
        {% capture admin-mode %}{% if page.title == "Admin" %}true{% endif %}{% endcapture %}
        {% include bounty-tags.html bounty=include.bounty show-code=admin-mode %}
        <span class="bounty-date exclusion-dummy"> {{include.bounty.creation-date | date_to_string: "ordinal", "US"}} </span>
        </div>
    </div>
    <div class="bounty-item-content">
      {{ include.bounty.summary | markdownify}}
      {% if page.title == "Admin" %}
        {% assign contactsData = site.data.contacts.contacts %}
        <!-- Get the entries from contacts.yml  -->
        {% for contact in bounty.contacts %}
        {% assign contactData = contactsData | where: 'name', contact | first %}
        {% if contactData != null %}
          {% include contact.html contact=contactData role="Support" %}
        {% endif %}
        {% endfor %}
        <!-- Display individuals without contacts entries -->
        {% for contact in bounty.contacts %}
        {% assign contactData = contactsData | where: 'name', contact | first %}
        {% if contactData == null %}
          <b>{{ contact }}</b> (No Details)</br>
        {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>