<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="flex-justify-v flex-align-center">
      <h2 class="footer-heading">Bounty Board</h2>
      <div class="flex-stack-left flex-wrap">
        <a class="footer-link" href="{{ site.repository }}">Repository</a>
        <a class="footer-link" href="https://dao.rocketpool.net/t/coordinating-bounty-system-improvements/2425">Feedback</a>
      </div>

      <h2 class="footer-heading">Grants Management Committee</h2>
      <div class="flex-stack-left flex-wrap">
        <a class="footer-link" href="https://discord.gg/tZDFBbh7uM">Discord</a>
        <a class="footer-link" href="https://github.com/rocketpoolgmc/rocketpool-gmc">Repository</a>
        <a class="footer-link" href="https://rpips.rocketpool.net/RPIPs/RPIP-36#grants-management-committee">Membership</a>
        <a class="footer-link" href="https://rpips.rocketpool.net/RPIPs/RPIP-29">Records</a>
      </div>

      <h2 class="footer-heading">Rocket Pool</h2>
      <div class="flex-stack-left flex-wrap">
        <a class="footer-link" href="https://rocketpool.net/">Website</a>
        <a class="footer-link" href="https://dao.rocketpool.net/">Forum</a>
        <a class="footer-link" href="https://discord.gg/rocketpool">Discord</a>
        <a class="footer-link" href="https://twitter.com/Rocket_Pool">Twitter</a>
      </div>
    </div>

  </div>

</footer>
