
.bounty-tag-container {
  flex-flow: row wrap;
  width: 100%;
  @include media-query($on-palm) {
      margin-top: 24px;
   }
}

#bounty-list {
  width: 100%;
}

.wrapper-bounty {
  @extend .wrapper;
  background-color: white;
  padding-top: 24px !important;
  padding-bottom: 16px;
  margin-top: -16px;
  margin-bottom: -16px;
  min-height: 81vh;
}