
$item-border-radius: 0px;
$tag-border-radius: 16px;

@media only screen and (min-width: 600px) {
.bounty-wrap {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: nowrap;
}

.bounty-wrap {
  width: 100%;
}

.filter-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 3/12 - (12px - 12px * 3/12));
  max-width: calc(99.9% * 3/12 - (12px - 12px * 3/12));
  width: calc(99.9% * 3/12 - (12px - 12px * 3/12));
}
}

.bounty-item-container {
  background-color: $item-background-color;
  border-radius: $item-border-radius;
  border: 1.5px solid $border-color;
  position: relative;

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 18px 24px 24px;
}

.bounty-item-container p {
  margin-bottom: 0px;
  width: 100%;
}

.bounty-item-container h3 {
  margin: 0px 0px 0px 0px;
}

.bounty-item-head {
  margin-bottom: 8px;
  vertical-align: top;
}

.bounty-item-foot {
  background-color: $background-color;
  border-radius: 0px 0px $item-border-radius $item-border-radius;
  padding: 8px;
}

.bounty-tag {
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: $tag-background-color;
  color: $tag-text-color;
  font-weight: 400;
  border-radius: $tag-border-radius;
  text-wrap: nowrap;
}

.bounty-tag:first-child {
  margin-left: 0px;
}

.bounty-tag-flare {
  width: 24px;
  min-width: 24px;
  height: 100%;
  border-radius: $tag-border-radius $tag-border-radius $tag-border-radius $tag-border-radius;
  align-items: center;
  justify-content: center;
  margin-right: -4px;
  display: flex;
}

.bounty-tag-skillset
{
  @extend .bounty-tag-flare;
  background-color: $skillset-col;
}

.bounty-tag-tag
{
  @extend .bounty-tag-flare;
  background-color: $tag-col;
}

.bounty-tag-code
{
  @extend .bounty-tag-flare;
  background-color: $code-col;
}

.bounty-tag-status-open
{
  @extend .bounty-tag-flare;
  background-color: $status-open-col;
}

.tag-icon
{
  width: 16px;
  height: 16px;
  color: black;
  filter: invert(95%) sepia(0%) saturate(0%) hue-rotate(142deg) brightness(150%) contrast(100%);
}

.icon-adjust-down
{
  margin-top: 1px;
}

.icon-adjust-up
{
  margin-bottom: 1px;
}

.icon-adjust-right
{
  margin-left: 2px;
}

.icon-adjust-left
{
  margin-right: 2px;
}

.icon-adjust-smaller
{
  width: 14px;
  height: 14px;
}

// Experimenting with corners for status
// .bounty-item-container:before {
//   content: '';
//   position: absolute;
//   top: 0; left: 0;
//   border-top: 50px solid red;
//   border-top-left-radius: $border-radius;
//   border-right: 50px solid rgba(255, 255, 255, 0);
//   width: 0;
// }

.bounty-tag-status-closed
{
  @extend .bounty-tag-flare;
  background-color: $status-closed-col;
}

.bounty-tag-status-draft
{
  @extend .bounty-tag-flare;
  background-color: $status-draft-col;
}

.bounty-tag-status-default
{
  @extend .bounty-tag-flare;
  background-color: $status-default-col;
}

.bounty-tag p {
  padding: 0px 12px;
  margin: 0px
}

.bounty-item-anim-hide {
  display: none;
}

.bounty-date {
  text-wrap: nowrap;
}

.price-container {
  height: 55px;
  margin-bottom: -20px;
}

.unconverted-price-item {
  margin-bottom: -6px;
  text-align: right;
  text-wrap: nowrap;
}