
$border-radius: 12px;
$tag-border-radius: 6px;



.bounty-item-container {
  background-color: $background-color;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bounty-item-container p {
  margin-bottom: 0px;
}

.bounty-item-head {
  background-color: $header-background-color;
  border-radius: $border-radius $border-radius 0px 0px;
  padding: 8px;
}

.bounty-item-head {
  margin-bottom: 8px;
  vertical-align: top;
}

.bounty-item-foot {
  background-color: $background-color;
  border-radius: 0px 0px $border-radius $border-radius;
  padding: 8px;
}

.bounty-tag {
  margin-left: 4px;
  margin-right: 4px;
  background-color: $tag-background-color;
  color: $tag-text-color;
  font-weight: 400;
  border-radius: $tag-border-radius;
}

.bounty-tag:first-child {
  margin-left: 0px;
}

.bounty-tag-flare {
  width: 6px;
  height: 100%;
  border-radius: $tag-border-radius 0px 0px $tag-border-radius;
}

.bounty-tag-skillset
{
  @extend .bounty-tag-flare;
  background-color: $skillset-col;
}

.bounty-tag-tag
{
  @extend .bounty-tag-flare;
  background-color: $tag-col;
}

.bounty-tag-code
{
  @extend .bounty-tag-flare;
  background-color: $code-col;
}

.bounty-tag-status-open
{
  @extend .bounty-tag-flare;
  background-color: $status-open-col;
}

.bounty-tag-status-closed
{
  @extend .bounty-tag-flare;
  background-color: $status-closed-col;
}

.bounty-tag-status-draft
{
  @extend .bounty-tag-flare;
  background-color: $status-draft-col;
}

.bounty-tag-status-default
{
  @extend .bounty-tag-flare;
  background-color: $status-default-col;
}

.bounty-tag p {
  padding: 0px 8px;
  margin: 0px
}

.bounty-item-content {
  padding: 8px;
}

.bounty-item-anim-hide {
  display: none;
}