

//tags
$skillset-col: #6035c5;
$tag-col: #138bd1;
$status-open-col: #6fc41a;
$status-closed-col: red;
$status-draft-col: black;
$status-default-col: black;
$code-col: black;
$tag-background-color: #f4f4f6;
$tag-text-color: black;

//general
$header-background-color: #f7f7f8;
$item-background-color: white;
$border-color: #DDDDDD;
$select-color: #f66b2b;
$hover-color: #9c2c00;