

//tags
$skillset-col: blue;
$tag-col: gold;
$status-open-col: Chartreuse;
$status-closed-col: red;
$status-draft-col: black;
$status-default-col: black;
$code-col: black;
$tag-background-color: $background-color;
$tag-text-color: black;

//general
$header-background-color: #f7f7f8;
$border-color: #DDDDDD;