

//tags
$skillset-col: #694baf;
$tag-col: #2e85b8;
$status-open-col: #70b030;
$status-closed-col: #cc3333;
$status-unavailable-col: #d1b205;
$status-draft-col: black;
$status-default-col: black;
$code-col: black;
$tag-background-color: #f4f4f6;
$tag-text-color: black;

//general
$header-background-color: #f7f7f8;
$item-background-color: white;
$border-color: #DDDDDD;
$select-color: #f66b2b;
$hover-color: #9c2c00;