.bounty-filter {
  margin-bottom: 16px;
  margin-left: 8px;
  flex-direction: column;
}

.filter-container {
  margin-right: 12px;
}

.filter-title {
  font-weight: 500;
  border-bottom-width: 0px;
  border-bottom-color: $border-color;
  border-bottom-style: solid;
  margin-bottom: 4px;
  padding-left: 8px;
  margin-right: 12px;
}

.sort-search-container {
  position: relative;
}

.dropdown-backing {
  position: relative;
  width: 160px;
}

.dropdown-content {
  @extend .flex-stack-top;
  display: none;
  position: absolute;
  width: 158px;
  right: 0px;
  z-index: 1;
  top: 24px;
}

.dropdown-content-show {
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: $item-border-radius;
  border-width: 1px;
  border-bottom-width: 0px;
  border-color: $border-color;
  border-style: solid;
}

.sort-dropdown-button { //dynamically applied to sort dropdown buttons
  margin: 0px 0px 0px 0px;
  background: none;
  border-radius: $item-border-radius;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: $border-color;
  border-style: solid;
  padding: 4px;
  cursor: pointer;
}

.sort-dropdown-button:hover {
  background-color: $select-color;
}

.margin-search-container {
  margin: 26px 0px 0px 0px;
  background: rgb(255, 255, 255);
  border-radius: $item-border-radius;
  border-width: 1px;
  border-color: $border-color;
  border-style: solid;
  margin-bottom: 12px;
  padding: 4px 8px;
  max-width: 160px;
}

.margin-search {
  font-weight: 400;
  box-sizing: border-box;
  cursor: text;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: $item-border-radius;
  border-width: 0px;
  border-color: $border-color;
  border-style: solid;
  width: 100%;
}

.margin-search:focus-visible {
  outline: 0px;
  outline-offset: 0px;
}

#filter-count {
  margin-bottom: -8px;
}

#sort-button {
  font-weight: 400;
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  padding: 4px 8px;
  margin-bottom: 12px;
  background: rgb(255, 255, 255);
  border-radius: $item-border-radius;
  border-width: 1px;
  border-color: $border-color;
  border-style: solid;
  cursor: pointer;
}

#sort-button {
  width: 100%;
  align-content: center;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  color: $border-color;
  filter: invert(85%) sepia(0%) saturate(39%) hue-rotate(142deg) brightness(106%) contrast(90%);
}