
.filter-container {
  margin-bottom: 36px;
}

.bounty-filter {
  background-color: #eeeeee;
}

.sort-search-container {
  position: relative;
}

.dropdown-backing {
  position: relative;
}

.dropdown-content {
  @extend .flex-stack-top;
  display: none;
  position: absolute;
  min-width: 100%;
  right: 0px;
  z-index: 1;
  top: 21px;
}

.dropdown-content-show {
  display: flex;
}

.sort-dropdown-button { //dynamically applied to sort dropdown buttons
  margin: 2px 0px 0px 0px;
}

#sort-button {
}

.margin-search {
  margin: 0px 6px 0px 0px;
  height: 15px;
}

.filter-count {
}