
.flex-justify {
  display: flex; 
  justify-content: space-between;
}

.flex-stack-left {
  display: flex; 
  justify-content: flex-start;
}

.flex-stack-right {
  display: flex; 
  justify-content: flex-end;
}

.flex-stack-top
{
  display: flex; 
  justify-content: flex-start;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}