
.site-header {
  border-top: 0px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.wrapper {
  padding-top: 6px;
}

.header-logo {
  margin: 0px 8px 0px 0px;
  height: 40px;
}

.header-list { 
  display: grid; 
  grid-template-columns: 
  max-content auto; 
  margin: 0px 8px 8px 0px;
}

dt {
  margin: 0px 24px 0px 0px;
}

.site-nav {
  float: left;
  line-height: $base-line-height * $base-font-size;
  margin: 0px 0px 8px 0px;
}

h3 {
  margin: 0px 0px 0px 0px;
  vertical-align: top;
}

.post-title {
  margin: 0px 0px 0px 0px;
}

.converted-price {
  margin: 0px 0px 0px 0px;
  line-height: 1;
  text-align: right;
}