---
layout: default
---

<style type="text/css">
  .bounty-preamble th {
    width: 20%;
  }
</style>

<div class="wrapper-backed">
  <article class="post">

    <header class="post-header">
      <div class="flex-justify headline-spacing">
        <h1 class="post-title"> {{ page.title | escape }} </h1>
          <div class="flex-stack-top flex-align-end price-container-page">
            <h1 class="post-title unconverted-price-page">{% include bounty-amount.html reward=page.reward %}</h1>
            {% if page.reward.unit == "RPL" %}
            <h3 class="converted-price">{% include bounty-amount.html reward=page.reward convert="RPL"%}</h3>
            {% endif %}
            <span class="bounty-date"> {{page.creation-date | date_to_string: "ordinal", "US"}} </span>
          </div>
      </div>
      <div class="flex-justify">
        {% assign bounty = page %}
        {% include bounty-tags.html bounty=page show-code="true" %}
        <b class="bounty-date exclusion-dummy">{{page.creation-date | date_to_string: "ordinal", "US"}}</b>
      </div>
    </header>
  
    <div class="post-content">
      {{ content }}
      {% if page.contacts %}
      <div>
        <h2>Contacts</h2>
        <div>
        {% include contact-list.html contacts=page.contacts %}
        </div>
      </div>
      {% endif %}
    </div>
  </article>
</div>

